In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("document_ner_compressed.csv", compression="zip")

In [5]:
df

,Unnamed: 0,text,DATE
0,118200528,"['More Liberal Society', 'Afraid of Virginia',...",1968-04-29
1,109085647,"['House', 'Senate', 'ADAM CLYMER', 'The New Yo...",1993-03-12
2,2463412533,"['Interior', 'Orofino Idaho', 'Senate', 'Cessn...",2017-08-26
3,110844154,"['Cardinal', 'Roman Catholic Archdiocese', 'Ca...",1987-01-24
4,108962491,"['The New York Times', 'Parliament', 'Parliame...",1992-11-05
...,...,...,...
28242,118177575,"['irs', 'Odie', 'Courageous Cat', 'Islamic Cen...",1967-02-26
28243,108510026,"['PUBLIC & PRIVATE', 'The New York Times', 'th...",1990-09-16
28244,118956856,"['The New York Times', 'the American Medical A...",1970-06-23
28245,1621335386,"['Health', 'icine', 'Iter', 'Iter', 'Mount Sin...",2011-08-14
28246,109658707,"['Journal\n\n\nJournal', 'Presidential quest',...",1996-10-05